.hero {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-content: flex-start;
   overflow: hidden;
}


.hero .left-section,
.hero .right-section {
   /*! Change In Media Query */
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   /*! Change In Media Query */
   margin-top: 3vh;
}

.hero .hero-img-container {
   /*! Change In Media Query */
   width: 60%;
}

.hero .hero-img-container img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes floating {
   0%,
   100% {
      transform: translate(0, 0px);
   }
   50% {
      transform: translate(0, 15px);
   }
}

.hero .info-container {
   color: white;
   width: 80%;
   /*! Change In Media Query */
   min-width: 260px;
}

.hero .info-container h3 {
   margin-bottom: 5px;
   font-size: 1.5em;
}

.hero .info-container .text-section {
   margin-top: 2vh;
   width: 100%;
}

.hero .info-container .name-and-button {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.hero .info-container h1 {
   margin-top: 2vh;
   /*! Change In Media Query */
   margin-right: 8%;
   font-family: var(--title-font);
   letter-spacing: 3px;
   font-size: 3em;
}

.hero .info-container .donate-button {
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 5px solid var(--main-blue);
   color: var(--main-blue);
   cursor: pointer;
   font-size: 2em;
   transition: transform 0.3s;
}

.hero .info-container .donate-button:hover {
   transform: scale(1.06);
}

.hero .hero-events span {
   font-size: 0.6em;
}

.hero .js-events-container {
}

.hero .event-item {
   margin-right: 3%;
   margin-top: 1%;
   display: inline-block;
   width: 30%;
   max-width: 150px;
   transition: transform 0.3s ease-out;
}

.hero .event-item:hover {
   transform: scale(1.1);
}

.hero .event-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
}

.hero-1 .right-section,
.hero-3 .right-section {
   /*! Change In Media Query */
   order: -1;
}

/*! Change In Media Query */
@media (min-width: 768px) {
   .hero .hero-img-container {
      /*! Change In Media Query */
      width: 40%;
   }
}

@media (min-width: 1024px) {
}

@media (min-width: 1366px) {
   .hero .left-section,
   .hero .right-section {
      /*! Change In Media Query */
      width: 50%;
      margin-top: 15vh;
   }

   .hero .hero-img-container {
      width: auto;
      height: 80%;
      max-height: 760px;
   }
   .hero-1 .right-section,
   .hero-3 .right-section {
      order: 0;
   }
   .hero-1 .hero-img-container {
      max-height: 830px;
   }
}

@media (min-width: 1920px) {
}

@media (max-width: 400px) {
}
