.cover {
   padding-top: 10vh;
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
}

.cover .content {
   flex-direction: column;
   justify-content: flex-start;
}

.cover .heros-img {
   height: 60vh;
   max-height: 800px;
   width: 100%;
   /*! Change In Media Query */
   margin-top: 0vh;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
}

.cover .thank-container {
   height: 100%;
}
.cover .thank-container img {
   height: 85%;
   max-width: 100%;
   min-width: 260px;
   object-fit: contain;
}

.cover .hero-container {
   height: 100%;
   position: absolute;
   left: 50%;
   display: flex;
   align-items: flex-end;
}

.cover .hero-container img {
   height: 85%;
   max-width: 100%;
   min-width: 260px;
   object-fit: contain;
}

.cover .js-hero-left {
   transform: translate(-75%, 0);
}

.cover .js-hero-left img {
   transform: rotate(-10deg);
}

.cover .js-hero-middle {
   z-index: 1;
   transform: translate(-50%, 0);
}

.cover .js-hero-middle img {
   height: 100%;
}

.cover .js-hero-right {
   transform: translate(-10%, 0);
}

.cover .js-hero-right img {
   transform: rotate(10deg);
}

.cover .heros-img .js-slogan {
   height: 50%;
   width: 100%;
   z-index: 2;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /*! Change In Media Query */
   font-size: 1em;
}

.cover .slogan-text-section {
   height: 100%;
   width: 100%;
   min-width: 430px;
   padding: 0 60px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   background: rgb(0, 0, 0);
   background: -moz-linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   background: -webkit-linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.cover .slogan-text-container {
   color: #ffffff;
   text-align: center;
   margin-bottom: 70px;
}

.cover .js-slogan .cover-text {
   margin: 5px 0;
}

.cover .js-slogan h1 {
   letter-spacing: 0.08em;
   /*! Change In Media Query */
   font-size: 1.5em;
}

.cover .js-slogan h1 .delete {
   text-decoration: line-through;
   color: var(--marvel-red);
}

.cover .js-slogan h1 .energy {
   font-size: 1.8em;
   background: url("../../../media/image/current.jpg");
   background-size: cover;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

.cover .js-slogan p {
   font-size: 0.88em;
}

.cover .slogan-under-cover {
   margin-top: -30px;
   width: 100%;
   height: 30%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   background: rgb(0, 0, 0);
   background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
   /* background-color: red; */
}

.cover .slogan-under-cover .donate-button {
}

.cover .scroll-icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2vh;
}

.cover .js-scroll-icon {
   width: 35px;
   height: 60px;
   /* border: 3px solid #ffffff; */
   border-radius: 25px;
   display: flex;
   justify-content: center;
   cursor: pointer;
   transition: transform 0.3s;
}

.cover .js-scroll-icon:hover {
   transform: scale(1.2);
}

.cover .js-scroll-icon svg {
   fill: var(--main-blue);
   height: 50px;
   width: 50px;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   animation-name: scroll;
}
@keyframes scroll {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      transform: translateY(50px);
   }
}

/*! Change In Media Query */
@media (min-width: 768px) {
   .cover .heros-img .js-slogan {
      font-size: 1.2em;
   }
   .cover .js-slogan h1 {
      font-size: 1.8em;
   }
}

@media (min-width: 1366px) {
   .cover .heros-img {
      /* veritcal position of the hero-img */
      margin-top: 5vh;
   }
}

@media (min-width: 1920px) {
}

@media (max-width: 400px) {
}
