.cover {
   padding-top: 10vh;
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   /* background-color: cyan; */
}

.cover .content {
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.cover .heros-img {
   height: 60vh;
   max-height: 800px;
   width: 100%;
   /*! Change In Media Query */
   margin-top: -6vh;
   /* background-color: red; */
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
}

.cover .hero-container {
   height: 100%;
   position: absolute;
   left: 50%;
   display: flex;
   align-items: flex-end;
}

.cover .hero-container img {
   height: 85%;
   max-width: 100%;
   object-fit: contain;
}

.cover .js-hero-left {
   transform: translate(-75%, 0);
}

.cover .js-hero-left img {
   transform: rotate(-10deg);
}

.cover .js-hero-middle {
   /* height: 100%; */
   max-width: 40%;
   z-index: 1;
   transform: translate(-50%, 0);
}

.cover .js-hero-middle img {
   height: 100%;
}

.cover .js-hero-right {
   transform: translate(-10%, 0);
}

.cover .js-hero-right img {
   transform: rotate(10deg);
}

.cover .heros-img .js-slogan {
   height: 50%;
   width: 100%;
   z-index: 2;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 1.6em;
   /* background-color: red; */
}

.cover .slogan-text-section {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   background: rgb(0, 0, 0);
   background: -moz-linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   background: -webkit-linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 50%,
      rgba(0, 0, 0, 0.7766456924566701) 75%,
      rgba(0, 0, 0, 0) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.cover .slogan-text-container {
   color: #ffffff;
   text-align: center;
   margin-bottom: 70px;
}

.cover .js-slogan h1 {
   font-family: var(--title-font);
   letter-spacing: 7px;
   font-size: 1.5em;
}

.cover .js-slogan h1 .delete {
   text-decoration: line-through;
   color: var(--marvel-red);
}

.cover .js-slogan h1 .energy {
   font-size: 1.8em;
   color: var(--main-blue);
}

.cover .slogan-under-cover {
   margin-top: -30px;
   width: 100%;
   height: 30%;
   background: rgb(0, 0, 0);
   background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9279061966583508) 24%,
      rgba(0, 0, 0, 0.7766456924566701) 47%,
      rgba(0, 0, 0, 0) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.cover .scroll-icon-container {
   width: 10vh;
   height: 10vh;
   /* background-color: white; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.cover .js-scroll-icon {
   width: 35px;
   height: 60px;
   /* box-shadow: inset 0 0 0 1px #fff; */
   border: 3px solid #ffffff;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   cursor: pointer;
   transition: transform 0.3s;
}

.cover .js-scroll-icon:hover {
   transform: scale(1.2);
}

.cover .js-scroll-icon svg {
   fill: var(--main-blue);
   height: 35px;
   width: 23px;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   animation-name: scroll;
}
@keyframes scroll {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      transform: translateY(25px);
   }
}

/*! Change In Media Query */
@media (min-width: 768px) {
   .cover .heros-img {
      /* veritcal position of the hero-img   */
      margin-top: 1vh;
   }
}

@media (min-width: 1366px) {
}

@media (min-width: 1920px) {
}

@media (max-width: 400px) {
}
