/* font-family: 'Bangers', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* font-family: 'Titillium Web', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
/* font-family: 'Teko', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   --main-blue: #51dcff;
   --marvel-red: #ed1d24;
   --main-font: "Titillium Web", sans-serif;
   --title-font: "Captain", fantasy;
   --logo-font: "Teko", sans-serif;
   --marvel-font: "Marvel", fantasy;
}

video {
   position: fixed;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}

.App {
   min-height: 100vh;
   background-color: #000000c2;
   overflow: hidden;
   font-family: var(--main-font);
   font-size: 15px;
}

.App .content {
   /*! Change In Media Query */
   width: 88%;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.App h1 {
   font-family: var(--title-font);
}

.App h3 {
   font-family: var(--title-font);
   font-weight: 500;
   letter-spacing: 0.03em;
}

@media (min-width: 768px) {
   .App .content {
      width: 85%;
   }
   .App {
      font-size: 16px;
   }
}

@media (min-width: 1024px) {
   .App {
      font-size: 18px;
   }
}

@media (min-width: 1366px) {
   .App .content {
      width: 80%;
   }
}

@media (min-width: 1920px) {
   .App {
      font-size: 20px;
   }
}

@media (max-width: 400px) {
   .App {
      font-size: 12px;
   }
}

/*! Change In Media Query */
/* @media (min-width: 768px) {
}

@media (min-width: 1366px) {
}

@media (min-width: 1920px) {
}

@media (max-width: 400px) {
} */

@font-face {
   font-family: "Captain";
   src: url("./media/font/Captainmarvel-anm9.ttf") format("truetype");
}

@font-face {
   font-family: "Marvel";
   src: url("./media/font/Marvel.ttf") format("truetype");
}
